.wordle-cell {
    background: darkgray;
    height: 2em;
    width: 2em;
    border-radius: 10%;
}
.wordle-cell.same {
    background: #44d744;
}
.wordle-cell.contains {
    background: #e7a941;
}
.wordle-cell.gray {
    background: gray;
}

.main {
    display: flex;
    flex-direction: column;
}
.main table {
    margin: auto;
}

#solution {
    padding: 2em;
    margin: auto;
    font-family: Cambria, serif;
}

.main .dial-container {
    margin: auto;
}

#dial {
    width: 500px;
    height: 500px;
    user-select: none;
    touch-action: none;
}

text {
    pointer-events: none;
}

.dial-container {
    position: relative;
}

.arrow {
    background: black;
    width: 75px;
    height: 15px;
    position: absolute;
    pointer-events: none;
    top: 210px;
    left: 455px;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
}